@import '~antd/lib/style/themes/default.less';
.meetingTitle {
  background: #F8F8F8;
  width: 100%;
  height: 54px;
  line-height: 54px;
  padding: 4px 26px;
  margin-bottom: 16px;
  .titleSpan {
    font-weight: bold;
    color: #333;
  }
}
.form {
  padding: 0 0 30px 26px;
  .rows {
    margin-bottom: 25px;
  }

  :global{
    .ant-col-4 {
      width: 14.666667%;
    }
    .ant-col-2 {
      width: 5.333333%;
    }
    .ant-col-22 {
      width: 93.666667%;
    }
    .rdw-editor-main{
      border: 1px solid #D4D4D4;
      height: 500px;
    }


    .editor-container .emotion-dropdwon .common-images{
      border: 1px solid #ddd;
    }
    .editor-container .emotion-dropdwon .common-images .emotion-image{
      border: 1px solid #ddd;
      width:45px;
      height:45px;
    }

    .editor-container .emotion-dropdwon .common-images .emotion-image:hover{
      border: 1px solid #2B970C;
      box-shadow:2px 2px 5px #333333;
    }
    .editor-container .tab-group .tab-nav{
      height: 42px;
    }
    .editor-container .tab-group .tab-nav .tab-item{
      height: 12px;
    }
    .editor-container .dialog-container .dialog .dialog-footer{
      position: fixed;
      left: 1048px;
      bottom: 215px;
    }
  }
}

