@import '~antd/lib/style/themes/default.less';

.newsBox{
  .imgBox{
    display: inline-block;
    vertical-align: top;
    width: 194px;
    height: 120px;
    overflow: hidden;
  }
  .textBox{
    display: inline-block;
    vertical-align: top;
    width: 932px;
    margin-left: 20px;
    color: #333;
    .northSplit{
      border: none;
      border-top: 1px solid #e5e5e5;
      margin: 17px 0 24px;
    }
    h5{
      font-size: 16px;
      height: 24px;
      margin-bottom: 8px;
      margin-top: -3px;
      overflow: hidden;
    }
    .content{
      color: #333;
      font-size: 14px;
      line-height: 24px;
      height: 72px;
      margin-bottom: 0;
    }
    .info{
      color: #8C8C8C;
      font-size: 12px;
      margin-bottom: 0;
      .date{
        padding-right: 28px;
      }
    }
  }
  .searchContent{
    line-height: 36px;
    font-size: 16px;
  }
  .searchDetail{
    font-size: 14px;
    color: #333;
    line-height: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  .searchExtra{
    margin-top: 8px;
    color: #8c8c8c;
    span{
      padding-right: 24px;
    }
  }
}
/** 搜索结果页 **/
.searchHeadBox{
  margin-bottom: 16px;
  line-height: 32px;
  .searchResultNum{
    padding-left: 16px;
    color: #8c8c8c;
    font-size: 12px;
  }
}
.searchMenu{
  background-color: #fff;
  :global{
    .ant-menu{
      border: 1px solid #d9d9d9;
      margin-bottom: 40px;
    }
  }
}


//员工风采
.linkImg{
  position:relative;
  .windImg{
    width: 210px;
    height: 128px;
    text-align:center;
  }
  .maskImg{
    position:absolute;
    top:-52px;
    left:1px;
    width:208px;
    height:0;
    padding:16px;
    text-align:center;
    background:rgba(0, 0, 0, 0.7);
    opacity:0;
    color:#fff;
    transition:all .3s ease-out;
    span{
      position:relative;
      top:30px;
    }
  }
}
.linkImg:hover .maskImg{
  opacity: 1;
  height: 126px;
}
.linkImg:hover{
  cursor:pointer;
}

//相册弹窗


//行业动态
.links{
  display:inline-block;
  margin-bottom:10px;
}
.more{
  color:#595959;
}

//公司动态
:global{
  .ant-list-vertical .ant-list-item-meta-title{
    margin-bottom:6px;
  }
  .ant-comment-inner{
    padding-bottom:0 !important;
    border-bottom: 1px solid #ddd;
  }
}
.thumbImg{
  width: 160px;
  height: 120px;
}
.linkTitle{
  display:inline-block;
  color:#1890FF;
  font-size:18px;
  font-weight:600;
}
.descTitle{
  color:#595959;
  font-size:10px;
  line-height:1.8;
}

//专题活动
.listTop{
  margin-bottom:20px;
  .moveImg{
    width:210px;
    height: 128px;
  }
  .moveTitle{
    display:inline-block;
    font-weight: 600;
    margin:4px 0;
  }
}


//员工风采  更多
.imgCard{
  :global{
    .ant-card-body{
      background: #000;
    }
  }
}
.btn{
  position: absolute;
  top: -60px;
  right: 30px;
  width:74px;
  height:30px;
  line-height:30px;
  text-align:center;
  border-radius: 6px;
  background: #FF3D00;
  color: #fff;
  transition: all .3s ease-out;
  cursor: pointer;
}
.btn:hover{
  opacity: .8;
  color: #fff;
}
.btnPublic{
  width:66px;
  height:30px;
  line-height:30px;
  text-align:center;
  background:#3088F4;
  border-radius: 4px;
  display: inline-block;
  color:#fff;
  margin-left:30px;
  cursor:pointer;
}
.btnPublic:hover{
  opacity: .8;
}
.textDesc{
  width:100%;
  height:100px;
  border:2px solid #44A4F5;
}
.inputSty{
  width:100%;
  border: 2px solid #44A4F5;
  border-radius: 0;
  height:48px;
}
.optArea{
  position:relative;
  top:-17px;
  border-bottom:1px solid #ddd;
  padding-bottom:20px;
  cursor:pointer;
  .iconPic{
    color:#88D403;
    font-size:16px;
  }
  .textSpan{
    color:#333;
  }
  .optRt{
    float:right;
  }
}
.uploadBtn{
  .upText{
    font-size:18px;
    color:#000;
    margin:0;
  }
  .photoCount{
    font-size:12px;
    display:inline-block;
    margin-bottom:5px;
  }
}
.picImg{
  width: 305px;
  height: 258px;
  padding: 0;
  margin-bottom: 20px;
  .imgContent{
    position: relative;
    .picItem{
      width: 275px;
      height: 258px;
    }
    .infoDesc{
      width:275px;
      height:60px;
      background:#fff;
      position:absolute;
      top:198px;
      padding:10px 16px;
      opacity:0;
      .infoTitle{
        font-size:10px;
      }
      .infoRight{
        margin-left:30px;
      }
    }
  }
}
.imgContent:hover .infoDesc{
  opacity:1;
}


//员工风采Modal部分
.modalContent{
  :global{
    .ant-modal-body{
      padding:0;
    }
  }
}
.topArea{
  margin:50px 0 10px 24px;
  padding-right:12px;
  .topTitle{
    font-size:18px;
    color:#333;
    word-break: break-all;
  }
  .publickPer{
    display:inline-block;
    margin-right: 20px;
    font-size:10px;
    color:#8C8C8C;
  }
  .spanText{
    font-size:10px;
    color:#8C8C8C;
    display:inline-block;
    margin-right:30px;
  }
  .spanCount{
    font-size:10px;
    color:#8C8C8C;
  }
  .botTitle{
    font-size:14px;
    color:#333;
    text-indent:1.5rem;
    margin:20px 0;
  }
}


//追加评论内容
.nameDate{
  font-size:12px;
  color:#8c8c8c;
}
.valueContent{
  word-break:break-all;
  font-size:14px;
  color:#333;
}
.commentArea{
  padding-right:12px;
}



:global{
  .wp-news-box .slick-dots {
    top: -26px;
  }
  .marginBottom{
    margin-bottom: 16px;
  }
  .marginBottomSm{
    margin-bottom: 8px;
  }
  .marginBottomLg{
    margin-bottom: 32px;
  }
  #phoBox {
    vertical-align: top;
    position: relative;
    margin: 50px 35px;
    .anticon {
      position: absolute;
      top: 27%;
      margin-top: -12px;
      cursor: pointer;
      &:hover {
        color: #999 !important;
        transition: ease-in-out .3s;
      }
      &.anticon-left {
        left: -24px;
      }
      &.anticon-right {
        right: -24px;
      }
    }
    .photo-view {
      height: 560px;
      overflow: hidden;
      .photo-list {
        text-align:center;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          display: inline-block;
          width: 105px;
          vertical-align: top;
          & > a {
            display: block;
            width: 60px;
            height: 60px;
            margin: 0 auto;
            color: #333;
            text-align: center;
            border-radius: 3px;
          }
          p{
            text-align: center;
            margin: 0;
          }
        }
      }
    }
  }
}
