@import '~antd/lib/style/themes/default.less';

.newsBox{
  .imgBox{
    display: inline-block;
    vertical-align: top;
    width: 194px;
    height: 120px;
    overflow: hidden;
  }
  .textBox{
    display: inline-block;
    vertical-align: top;
    width: 932px;
    margin-left: 20px;
    color: #333;
    .northSplit{
      border: none;
      border-top: 1px solid #e5e5e5;
      margin: 17px 0 24px;
    }
    h5{
      font-size: 16px;
      height: 24px;
      margin-bottom: 8px;
      margin-top: -3px;
      overflow: hidden;
    }
    .content{
      color: #333;
      font-size: 14px;
      line-height: 24px;
      height: 72px;
      margin-bottom: 0;
    }
    .info{
      color: #8C8C8C;
      font-size: 12px;
      margin-bottom: 0;
      .date{
        padding-right: 28px;
      }
    }
  }
}


//员工风采
.linkImg{
  position:relative;
  .windImg{
    width: 210px;
    height: 128px;
    text-align:center;
  }
  .maskImg{
    position:absolute;
    top:-52px;
    left:1px;
    width:208px;
    height:0;
    padding:16px;
    text-align:center;
    background:rgba(0, 0, 0, 0.3);
    opacity:0;
    color:#fff;
    transition:all .3s ease-out;
    span{
      position:relative;
      top:30px;
    }
  }
}
.linkImg:hover .maskImg{
  opacity: 1;
  height: 126px;
}


//行业动态
.links{
  display:inline-block;
  margin-bottom:10px;
}
.more{
  color:#595959;
}

//公司动态
:global{
  .ant-list-vertical .ant-list-item-meta-title{
    margin-bottom:6px;
  }
}
.thumbImg{
  width: 160px;
  height: 120px;
}
.linkTitle{
  display:inline-block;
  color:#1890FF;
  font-size:18px;
  font-weight:600;
}
.descTitle{
  color:#595959;
  font-size:10px;
  line-height:1.8;
}

//专题活动
.listTop{
  margin-bottom:20px;
  .moveImg{
    width:210px;
    height: 128px;
  }
  .moveTitle{
    display:inline-block;
    font-weight: 600;
    margin:4px 0;
  }
}

