@import '~antd/lib/style/themes/default.less';

.newsBox{
  .imgBox{
    display: inline-block;
    vertical-align: top;
    width: 194px;
    height: 120px;
    overflow: hidden;
  }
  .textBox{
    display: inline-block;
    vertical-align: top;
    width: 932px;
    margin-left: 20px;
    color: #333;
    .northSplit{
      border: none;
      border-top: 1px solid #e5e5e5;
      margin: 17px 0 24px;
    }
    h5{
      font-size: 16px;
      height: 24px;
      margin-bottom: 8px;
      margin-top: -3px;
      overflow: hidden;
    }
    .content{
      color: #333;
      font-size: 14px;
      line-height: 24px;
      height: 72px;
      margin-bottom: 0;
    }
    .info{
      color: #8C8C8C;
      font-size: 12px;
      margin-bottom: 0;
      .date{
        padding-right: 28px;
      }
    }
  }
  .searchContent{
    line-height: 36px;
    font-size: 16px;
  }
  .searchDetail{
    font-size: 14px;
    color: #333;
    line-height: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  .searchExtra{
    margin-top: 8px;
    color: #8c8c8c;
    span{
      padding-right: 24px;
    }
  }
}
/** 搜索结果页 **/
.searchHeadBox{
  margin-bottom: 16px;
  line-height: 32px;
  .searchResultNum{
    padding-left: 16px;
    color: #8c8c8c;
    font-size: 12px;
  }
}
.searchMenu{
  background-color: #fff;
  :global{
    .ant-menu{
      border: 1px solid #d9d9d9;
      margin-bottom: 40px;
    }
  }
}
