@import '~antd/lib/style/themes/default.less';

.weekBtn{
  padding: 0 8px;
  margin: 0 5px;
}
.iconVip{
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  margin-top: -3px;
  background: url("../../../../src/assets/icon.png") -285px -446px no-repeat;
}
:global{
  .meetingroom-detail{
    img{
      width: 160px;
      height: 120px;
    }
  }
}
