* {
    font-family: '微软雅黑';
}

.login-page {

    color: #f8f8f9;
}

.errorText, #jsTipMsg {
    color: red;
}

#login-view {
    width: 100%;
    height: 100%;
    background: url("../img/main/login-bg.jpg") no-repeat center center fixed;
    background-size: 100% 100%;

}

.mini-layout-region {
    border: none
}

.mini-layout .mini-layout-border {
    border: none
}

.login-logo tr td {
    line-height: 20px;
    font-size: 20px;
}

.login-logo img {
    width: 100px;
    height: 50px;
}

#loginFrame {
    width: 400px;
    height: 300px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 50%;
    top: 30%;
    margin: -50px 0 0 -200px

}
#jsLoginForm{
    width: 400px;
    height: 300px;
}

#loginFrame tr th .label {
    color: #295bbe;
}

#jsLoginWin {
    margin: auto;
    background: #ffff;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 1px 2px 1px rgba(255, 255, 255, 0.3);
    position: absolute;
    left: 50%;
    top: 40%;
    margin: -50px 0 0 -200px

}