@import '~antd/lib/style/themes/default.less';

:global{
  .msg-tree {
    .ant-menu-submenu-title{
      background-color: #F0F0F0;
      font-weight: 600;
      margin: 0;
    }
    .ant-menu-item{
      margin: 0;
    }
  }
}
.msgOpt{
  text-align: left;
  :global{
    .ant-btn{
      margin: 0 8px;
    }
  }
}
.searchMsgForm{
  padding: 10px 0;
  :global{
    .ant-form-item{
      margin: 0;
    }
  }
}
